<!-- JS -->
<!-- build:js /assets/javascript/all.min.js -->
<script src="/assets/javascript/modernizr.js"></script>
<script src="/assets/javascript/jquery.js"></script>
<script src="/assets/javascript/foundation.js"></script>
<script src="/assets/javascript/angular.js"></script>
<script src="/assets/javascript/ng/app.js"></script>
<script src="/assets/javascript/ng/config.js"></script>
<script src="/assets/javascript/ng/controllers/main.js"></script>
<script src="/assets/javascript/jquery.animsition.js"></script>
<script src="/assets/javascript/scripts.js"></script>
<!-- endbuild -->

