# .gitignore for jekyllized projects

# Ignore hidden folders
# This takes care of .tmp, .sass-cache, and many others
.*/

# OSX
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon

# Windows
Desktop.ini
ehthumbs.db
Thumbs.db

# Linux
*~

# Tags
# Ignore tags created by etags and ctags
TAGS
tags

# Always-ignore files and folders #
*.diff
*.err
*.log
*.orig
*.rej
*.swn
*.swo
*.swp
._*
*~

# Ignore packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Packages
node_modules/*
.tmp
test/

# Sublime
*.sublime-project
*.sublime-workspace
*.sublime-projectcompletions

app/_bower_components

# Output folders
serve
site

# hide the AWS and Rsync credentials file
aws-credentials.json
rsync-credentials.json

# IDE
.idea

src/_bower_components

src/assets/javascript/foundation.js
src/assets/javascript/angular.js
src/assets/javascript/jquery.animsition.js
src/assets/javascript/modernizr.js
src/assets/javascript/jquery.js
src/assets/javascript/angular-gravatar.js
src/assets/stylesheets/animsition.css
src/assets/stylesheets/font-awesome.css
src/assets/stylesheets/foundation.css
src/assets/stylesheets/normalize.css
src/assets/fonts/fontawesome-webfont.eot
src/assets/fonts/fontawesome-webfont.woff2
src/assets/fonts/FontAwesome.otf
src/assets/fonts/fontawesome-webfont.woff
src/assets/fonts/fontawesome-webfont.ttf
src/assets/fonts/fontawesome-webfont.svg
